SARVAM_API_KEY=
SARVAM_BASE_URL=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
TWILIO_PHONE_NUMBER=

VAPI_API_KEY=""
VAPI_PHONE_ID=""
VAPI_ASSISTANT_ID=""

RETELL_API_KEY=""
RETELL_AGENT_ID=""
RETELL_AI_PHONE_NUMBER="+"
RETELL_AI_TERMINATION_URI="___.pstn.twilio.com"
RETELL_AI_SIP_TRUNK_USERNAME=""
RETELL_AI_SIP_TRUNK_PASSWORD=""

OPENAI_API_KEY=""

LANGCHAIN_TRACING_V2="true"
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT="Insurance Reminders"

COMPANY_NAME="Your Insurance Company"
AGENT_NAME="Insurance Specialist"

SHEET_ID=""
SHEET_NAME=Policies

SERVER_URL=""

DAYS_BEFORE_RENEWAL=30
DAYS_BETWEEN_CALLS=7